<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fsq.mappers.AdminMapper">
    <!-- 此处select标签的id值对应Mapper类中方法名 -->
    <resultMap type="com.fsq.entity.Admin" id="adminMap">
        <id property="id" column="id" />
        <id property="adminUUID" column="admin_uuid" />
        <result property="adminName" column="admin_name" />
        <result property="adminPassword" column="admin_password" />
        <result property="adminEmail" column="admin_email" />
    </resultMap>


    <select id="getAdminByAdminName" parameterType="String" resultMap="adminMap">
        select * from t_admin where admin_name = #{adminName}
    </select>


</mapper>